* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
}

/* to set the overall layout of the page */
.container {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-areas: 
    "dashboard search search search"
    "dashboard account account account"
    "dashboard projects projects announcements"
    "dashboard projects projects trending";
    grid-template-rows: 0.6fr .9fr 3fr 3fr;
}

/* SEARCH BAR SECTION */
.search {
    background-color: white;
    grid-area: search;
    display: grid;
    grid-template-columns: 0.5fr 20px 10fr 2fr 20px 20px 80px 1fr;
    align-items: center;
    gap: 20px;
}

.search-icon {
    width: 24px;
    height: 24px;
    grid-column: 2/3;
    cursor: pointer;
}

.search-bar {
    height: 24px;
    grid-column: 3/4;
    border-radius: 50px;
    background-color: #e2e8f0;
    border: none;
}

.notif-button {
    width: 24px;
    height: 24px;
    grid-column: 5/6;
    cursor: pointer;
}

.search-profile-pic {
    width: 34px;
    height: 34px;
    grid-column: 6/7;
    cursor: pointer;
    background-color: olivedrab;
    border-radius: 50%;
}

.search-profile-name {
    width: 150px;
    height: 50px;
    grid-column: 7/8;
    cursor: pointer;
    align-content: center;
    margin-left: 10px;
    font-weight: bold;
}

/* ACCOUNT SECTION */
.account {
    background-color: white;
    grid-area: account;
    display: grid;
    grid-template-columns: 0.5fr 52px 5fr 2.5fr 1.5fr 1.5fr 1.5fr 0.5fr;
    gap: 20px;
    align-items: center;
}

.account-profile-pic {
    width: 52px;
    height: 52px;
    background-color: olivedrab;
    border-radius: 50%;
    cursor: pointer;
    grid-column: 2/3;
}

.account-heading {
    grid-column: 3/4;
    align-content: center;
}

.account-heading p {
    font-weight: bold;
    height: 20px;
    width: 100px;
}

.account-heading h2{
    font-weight: bold;
    height: 40px;
    width: 350px;
}

.new-btn {
    grid-column: 5/6;
}

button {
    background-color: #0ea5e9;
    color: white;
    border-radius: 20px;
    border: none;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* DASHBOARD SECTION */
.dashboard {
    background-color: green;
    grid-area: dashboard;
}

/* PROJECTS SECTION */
.projects {
    background-color: yellow;
    grid-area: projects;
}

/* ANNOUNCEMENTS SECTION */
.announcements {
    background-color: orange;
    grid-area: announcements;
}

/* TRENDING SECTION */
.trending {
    background-color: brown;
    grid-area: trending;
}